/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: solid red;
    height: 100%;
}

h1 {
    color: red;
    border: 3px dashed blue; 
    background-color: green;
    width: 100px;
    height: 200px;
}

.copiii { /* asa se defineste o clasa */

    background-color: pink;
    border:solid green;
    width: 300px;
}

#Alexandra{ /* asa se defineste un id*/

    background-color: yellow;
    width: 100px;
}

#Luca{
    background-color: red;
}

#Teodora {
    background-color: purple;
}


p {
    color: blue;
    line-height: 1.6;
    border: solid blue;
    height: 20vh;
    font-size: 30px;
/*   px - pixel 
     % - procent din elementul in care se afla p in cazul acest
     vh - viewport height - adica inaltimea continutului paginii web.    */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3); /* Optional: Add a shadow effect */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}
